<app-spinner></app-spinner>
<app-header></app-header>
<br>
<br>
<label for="header" style="font-size: 35px; color: rgb(11, 63, 54);margin-left: 60px;">Sales
    History</label>
<br>
<br>
<br>
<br>


<div class="">
    <div class="row d-flex justify-content-between" style=" width: 100% !important;">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="col" style="margin-left: 100px;">
            <div class="row" style="max-width: 300px;">
                <input type="Date" id="formcontrol" class="form-control col" placeholder="Date" formControlName="date"
                    style="width: 150px;margin-right: 8px;">
                <button type="submit" class="btn btn-primary col" style="max-width: 70px;height:38px ;"> Filter </button>
            </div>
        </form>

        <form [formGroup]="searchForm"  class="col"  (ngSubmit)="onSearch()">
            <div class="row" style="justify-content: end; margin-right: 80px;">
                <input type="text" title="Search by Medicine Name,Brand Name,Total Amount" id="formcontrol" class="form-control col" placeholder="Search" formControlName="name" (input)="onSearch()" autocomplete="off"
                    style="max-width: 250px !important;margin-right: 8px;">
                <button type="submit" class="btn btn-primary col" style="max-width: 100px;height: 38px;"> SEARCH </button>
            </div>
        </form>
    </div>
</div>




<div class="table-wrapper" style="margin-left: 100px;margin-right: 100px;">
        <table class="table table-striped table-hover table-bordered ">
        <thead>
            <tr>
                <th class="pointer" (click)="sort('salesId')">Sales_ID</th>
                <!-- <th scope="col" sortable="name" (sort)="onSort($event)">User_Id</th> -->
                <th scope="col">Sold By</th>
                <th scope="col">Brand</th>
                <th scope="col" (click)="sort('medicinename')">Medicine Name</th>
                <th scope="col" (click)="sort('salesQuantity')">Sales Quantity</th>
                <th scope="col" (click)="sort('totalAmount')">Total Amount</th>
                <th scope="pointer"(click)="sort('salesDate')">Sales Date</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let value of salesdata">
                <th>{{value.salesId}}</th>
                <td>{{value.userId}}</td>
                <td>{{value.brand}}</td>
                <td>{{value.medicinename}}</td>
                <td>{{value.salesQuantity}}</td>
                <td>{{value.totalAmount}}</td>
                <td>{{value.salesDate| date:"dd-MM-yyyy"}}</td>
            <tr>
        <tbody>
    </table>
</div>
<ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="pageNo!=0"><a (click)="previousClick()" class="page-link">Previous</a></li>
    <li class="page-item" *ngIf="conditionVariable"><a (click)="nextClick()" class="page-link">Next</a></li>
</ul>

<div class="list-group">
    <button type="button" class="download" (click)="downloadFile()">Download as
        Excel</button>

