.btns{
    margin-right: 10px;
    max-width: 70px;
}
.error{
    color: red !important;
}
.form1{
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table-bordered{
  box-shadow: 5px 10px rgb(248,248,255);
}
