<app-spinner></app-spinner>
<app-header></app-header>
<section class="gradient-custom ">
  <br>
  <div class="main">
    <h2 class="display-8">Profile</h2>

    <br>
    <div class="row">

      <div class="text-center col pro">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" id="img">
        <br>
        <br>
        <label for="file-input" class="w-100"><a class="btn btn-warning btn" >Change Profile Picture</a></label>
        <input  id="file-input" type="file" accept="image/*" (change)="onFileChanged($event)" hidden>


        <button class="btn btn-primary btn" (click)="open(passwordmodal)"> Change Password</button>

        <button class="btn btn-danger btn" (click)="onLogout()"> Logout</button>

      </div>

      <div class="col align-middle details ">
        <h4>Details</h4>
        <br>

        <div class="row">
          <label class="col">User Id :</label>
          <div class="col">{{admin?.userId}}</div>
        </div>
        <hr>
        <div class="row">
          <label class="col">Name:</label>
          <div class="col">{{admin?.name}}</div>
        </div>
        <hr>
        <div class="row">
          <label class="col">Email :</label>
          <div class="col">{{admin?.email}}</div>
        </div>
        <hr>
        <div class="row">
          <label class="col">Role :</label>
          <div class="col">{{admin?.type}}</div>
        </div>
        <hr>
        <div class="row">
          <label class="col">Phone Number :</label>
          <div class="col">{{admin?.phone}}</div>
        </div>
        <hr>
        <br>
        <div class="text-end">

          <button class="btn btn-primary btn2" (click)="openModal()"> Edit Profile</button>

        </div>

      </div>
    </div>
    <!-- change password  modal  -->
    <ng-template #passwordmodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
        <button type="button" class="close" aria-label="Close" id="closeChangePswdModal"
          (click)="modal.dismiss('Cross click')" (click)="getDetails()">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Current Password</label>
            <input type="Password" id="form3Example3" class="form-control form-control-lg" formControlName="currentPswd"
              required
              [ngClass]="{'is-invalid': changePasswordForm.controls['currentPswd'].touched&& changePasswordForm.controls['currentPswd'].errors}" />

            <div *ngIf="changePasswordForm.controls['currentPswd'].touched">
              <div *ngIf="changePasswordForm.controls['currentPswd']?.errors?.['required']" class="text-danger">
                Password
                Required</div>
              <div *ngIf="changePasswordForm.controls['currentPswd']?.errors?.['minlength']" class="text-danger">
                Minimum 8
                characters required</div>
              <div *ngIf="changePasswordForm.controls['currentPswd']?.errors?.['pattern']" class="text-danger">Password
                should contain atleast<br>
                one uppercase,special character,number</div><br>
            </div>
          </div>
          <!-- password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">New Password</label>
            <input type="Password" id="form3Example3" class="form-control form-control-lg" formControlName="newPswd"
              required
              [ngClass]="{'is-invalid': changePasswordForm.controls['newPswd'].touched&& changePasswordForm.controls['newPswd'].errors}" />
            <!-- <label class="form-label" for="form5Example2">New Password</label> -->
            <div *ngIf="changePasswordForm.controls['newPswd'].touched">
              <div *ngIf="changePasswordForm.controls['newPswd']?.errors?.['required']" class="text-danger"> Password
                Required</div>
              <div *ngIf="changePasswordForm.controls['newPswd']?.errors?.['minlength']" class="text-danger"> Minimum 8
                characters required</div>
              <div *ngIf="changePasswordForm.controls['newPswd']?.errors?.['pattern']" class="text-danger">Password
                should contain atleast<br>
                one uppercase,special character,number</div><br>
            </div>
          </div>
          <!-- Confirm pswd input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Confirm Password</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg" formControlName="confirmPswd"
              required
              [ngClass]="{'is-invalid': changePasswordForm.controls['confirmPswd'].touched&& changePasswordForm.controls['confirmPswd'].errors}" />
            <!-- <label class="form-label" for="form5Example2">Confirm Password</label> -->
            <div
              *ngIf="(changePasswordForm.controls['confirmPswd'].touched||changePasswordForm.controls['confirmPswd'].dirty)"
              class="is-invalid">

              <div class="text-danger" *ngIf="changePasswordForm.controls['confirmPswd'].errors?.['required']">
                Re-enter Password.
              </div>

              <div class="text-danger"
                *ngIf="changePasswordForm.controls['newPswd'].value != changePasswordForm.controls['confirmPswd'].value">
                Password Should match
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
          </div>

        </form>
      </div>
    </ng-template>
  </div>

</section>
