<app-header></app-header>

<div class="modal-header">
    <label for="header" style="font-size: 22px; color: rgb(11, 63, 54);">Medicine Details</label>  </div>
    <table class="table table-bordered" style="background-color:  rgb(145, 149, 187);">
        <thead>
        <tr>
            <th>MedicineId:</th>
            <td>{{medicineDetails.medicineId}}</td>
        </tr>
        </thead>
  
        <thead>
        <tr>
            <th>Medicine name:</th>
            <td>{{medicineDetails.medicinename}}</td>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>Category:</th>
            <td>{{medicineDetails.category}}</td>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>Brand:</th>
            <td>{{medicineDetails.brand}}</td>
        </tr>
        </thead>
        <thead>
          <tr>
              <th>ProductionDate:</th>
              <td>{{medicineDetails.productionDate}}</td>
          </tr>
          </thead>
          <thead>
            <tr>
                <th>ExpiryDate:</th>
                <td>{{medicineDetails.expiryDate}}</td>
            </tr>
            </thead>
            <thead>
              <tr>
                  <th>Quantity:</th>
                  <td>{{medicineDetails.quantity}}</td>
              </tr>
              </thead>
              <thead>
                <tr>
                    <th>CostPrice:</th>
                    <td>{{medicineDetails.costPrice}}</td>
                </tr>
                </thead>
                <thead>
                  <tr>
                      <th>CompanyId:</th>
                      <td>{{medicineDetails.companyId}}</td>
                  </tr>
                  </thead>
  
  
    </table>
  
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" >Close</button>
  
