<app-dashboard></app-dashboard>



<section class="gradient-custom" style="background-color: rgb(194, 190, 190);height: 100%; min-height: 100vh;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-start h-100">
            <div class="col-12 col-lg-9 col-xl-7 " >
                <div class="card shadow-2-strong card-registration card " style="border-radius: 15px; width: 100%;">
                    <div class="card-body ">
                        <label *ngIf="id==null;" style="font-size: 20px;">Add Company</label>
                        <label *ngIf="id!=null;" style="font-size: 20px;">Update Company</label>
                        <br>
                        <br><br>
                        
                        <form [formGroup]="companyGroup" class="justify-content-center">
                          <label>Company Name:</label>
                          <input type="text" class="form-control form1" formControlName="name" placeholder="{{companyDetails.name}}">
                        
                          <label>Phone:</label>
                         <!-- <td><textarea name="address" cols="30" rows="4"></textarea></td> -->
                          <input type="text" class="form-control form1" formControlName="phone">
                        
                          <label>Address:</label>
                          <input type="text" class="form-control form1" formControlName="address" >
                        
                          <label>Description:</label>
                          <input type="text" class="form-control form1" formControlName="description">
                        
                          <br>
                        <button *ngIf="id==null"  type="submit" (click)="addCompany()" class="custom-btn btn-5">Submit</button>
                        <button *ngIf="id!=null"  type="submit" (click)="updateCompany(companyDetails.companyId)" class="custom-btn btn-5">Update</button>
                        
                     </form>   
                   </div>
                </div>
                <!-- <br><br> -->

            </div>
        </div>
    </div>
</section>