<app-header></app-header>
<section class="gradient-custom" style="background-color: rgb(194, 190, 190);height: 100%;min-height: 100vh;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-start h-100">
            <div class="col-12 col-lg-9 col-xl-7 ">
                <div class="card shadow-2-strong card-registration card " style="border-radius: 15px; width: 100%;">
                    <div class="card-body ">
                        <div class="modal-header">
                            <label for="header" style="font-size: 22px; color: rgb(11, 63, 54);">Company
                                Details</label>
                        </div>
                        <br>
                        <table class="table ">
                            <tr>
                                <th>Company ID:</th>
                                <td>{{companyDetails.companyId}}</td>
                            </tr>
                            <tr>
                                <th>Name:</th>
                                <td>{{companyDetails.name}}</td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>{{companyDetails.phone}}</td>
                            </tr>
                            <tr>
                                <th>Address:</th>
                                <td>{{companyDetails.address}}</td>
                            </tr>

                            <tr>
                                <th>Description</th>
                                <td>{{companyDetails.description}}</td>
                            </tr>


                        </table>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" routerLink="/company">Close</button>
                        </div>
                    </div>
                </div>
                <!-- <br><br> -->

            </div>
        </div>
    </div>
</section>