
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <h2 class="text-uppercase text-center mb-5"><B>Forgot Password</B></h2>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <!-- password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Password</label>
                  <input type="Password" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid Password" formControlName="password" required
                    [ngClass]="{'is-invalid': resetPasswordForm.controls['password'].touched&& resetPasswordForm.controls['password'].errors}" />
                  <div *ngIf="resetPasswordForm.controls['password'].touched">
                    <div *ngIf="resetPasswordForm.controls['password']?.errors?.['required']" class="text-danger"> Password
                      Required</div>
                    <div *ngIf="resetPasswordForm.controls['password']?.errors?.['minlength']" class="text-danger"> Minimum 8
                      characters required</div>
                    <div *ngIf="resetPasswordForm.controls['password']?.errors?.['pattern']" class="text-danger">Password
                      should contain atleast<br>
                      one uppercase,special character,number</div><br>
                  </div>
                </div>

                <!-- Confirm pswd input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Confirm Your Password</label>
                  <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Enter password"  formControlName="confirmPassword" required
                    [ngClass]="{'is-invalid': resetPasswordForm.controls['password'].touched&& resetPasswordForm.controls['password'].errors}" />
                  <div
                    *ngIf="(resetPasswordForm.controls['confirmPassword'].touched||resetPasswordForm.controls['confirmPassword'].dirty)"
                    class="is-invalid">

                    <div class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']">
                      Re-enter Password.
                    </div>

                    <div class="text-danger"
                      *ngIf="resetPasswordForm.controls['confirmPassword'].value != resetPasswordForm.controls['password'].value">
                      Password Should match
                    </div>
                  </div>


                    </div>


                <div class="d-flex justify-content-between align-items-center">
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                </div>

              </form>
              <br>
              <button type="button" routerLink="/login" class="btn btn-link"><B><u>Go Back To LogIn ?</u></B></button>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

          <!-- Right -->
          <div>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <!-- Right -->
        </div>
      </section>
