<nav class="navbar navbar-expand-lg  bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Pharmacy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company" routerLinkActive="active" ariaCurrentWhenActive="page">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/medicine" routerLinkActive="active" ariaCurrentWhenActive="page">Medicine</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" *ngIf="userType=='admin'"  routerLink="/saleshistory" routerLinkActive="active" ariaCurrentWhenActive="page">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/expired" routerLinkActive="active" ariaCurrentWhenActive="page">Expired</a>
          </li>
        </ul>

        <!-- <button class="btn btn-outline-success" type="submit" (click)="onLogout()">Logout</button> -->
        <div class="dropdown drop  ">
          <button class="btn btn-secondary dropdown-toggle drop " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" id="asd" class="image">
          </button>
          <ul class="dropdown-menu dropdown-menu-end menu">
            <li><a class="dropdown-item menu" routerLink="/userpic">Profile</a></li>

            <li><a class="dropdown-item menu"  (click)="onLogout()">Logout</a></li>


          </ul>
        </div>
      </div>
    </div>
  </nav>
