<app-spinner></app-spinner>
<app-header></app-header>
<br>
<div class="container-xl ">
    <div class="table">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row justify-content-between">
                    <div class="col-sm-8">
                        <h2><b>Medicine Details</b></h2>
                    </div>


                </div>
            </div>
            <br>


            <div class="justify-content-center text-center">
                <table class="table table-striped table-hover table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>MedicineId</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Mfg. Date</th>
                            <th>Expiry Date</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th *ngIf="userType=='admin'">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let vmedicine of medicine">
                            <td>{{vmedicine.medicineId}}</td>
                            <td>{{vmedicine.medicinename}}</td>
                            <td>{{vmedicine.category}}</td>
                            <td>{{vmedicine.brand}}</td>
                            <td>{{vmedicine.production_date| date:"dd-MM-YYYY"}}</td>
                            <td class="error">
                                {{vmedicine.expiry_date|date:"dd-MM-yyyy"}}</td>
                            <td>{{vmedicine.quantity}}</td>
                            <td>{{vmedicine.cost_price}}</td>
                            <td>

                                <Button class="btn btn-primary btns" *ngIf="userType=='admin'"
                                    routerLink="/medicineAdd/{{vmedicine.medicineId}}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>Edit</Button>
                                <Button *ngIf="userType=='admin'" class="btn btn-danger btns"
                                    (click)="Method(vmedicine.medicinename,vmedicine.medicineId)"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>Delete</Button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
