<app-spinner></app-spinner>
<div class="d-flex justify-content-center">
    <div style="width: 75vw; background-color: white;">
        <br>
        <H1 class="text-center" style="color: rgb(17, 136, 17);">PHARMACY</H1>
        <br>
        <h5 style="color: black; font-weight: bold;">Clinical Invoice</h5>

        <label class="text-center">Email:  pharmacy@gmail.com</label><br>
        <label class="text-center">Date:  {{date| date:"dd-MM-yyyy"}}</label>
        <hr style="background-color: rgb(0, 24, 0); height: 2px; ">

        <table class="table ">
            <thead class="tabl">
              <tr>

                <th scope="col">Medicine</th>
                <th scope="col">Brand</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Amount</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of saleDetails">
                <td>{{val?.medicinename}}</td>

                <td>{{val?.brand}}</td>
                <td>{{val?.salesQuantity}}</td>
                <td>{{val?.price}}</td>
                <td>{{val?.totalAmount}}</td>

              </tr>

            </tbody>
          </table> 
        <hr style="background-color: rgb(0, 24, 0); position: absolute; bottom: 0; margin-bottom: 85px; width: 75%;">
        <!-- <hr style="background-color: rgb(0, 24, 0); height: 2px; position: absolute; bottom: 0; margin-bottom: 60px;right: 0;margin-right: 12.5vw;"> -->
          <label style="float: right; position: absolute; bottom: 0; margin-bottom: 50px;right: 0;margin-right: 12.5vw; font-weight: bold; font-size: 40;"> Grand Total: {{saleDetails[0]?.completeTotal}}</label>
    </div>
</div>
